body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  display: block;
}
  
.mainAppStyle {
  flex: 1;
  width: 70%;
  margin: auto;  
}  

.todotitleStyle {
  font-weight:400;
}

.taskListContainerStyle{
  flex:10;
}

.addtaskTitleStyle {
  font-weight:400;
}  

.taskItemContainerStyle {
  height: 50px;
  padding: 3px;
  margin-bottom: 2px;
  border-radius: 10px;
  border: 2px solid black;
  
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}     

.inputTextStyle{
  padding: 12px 20px;
  display: inline-block;
  border: none;
  border-bottom: 1px solid gray;
}

input[type=text]:focus {
  border: none;
  border-bottom: 1px solid rgb(107, 106, 106);
}

.inputDueDateStyle{
    flex:1;
}
.inputLabelStyle{
  flex:1;
}
.inputStatusStyle{
  flex:1;
}
.addDeleteStyle{
 font: outline;
}
.addBtnStyle{
  font: outline;
}